body {
    padding: 0;
    margin: 0;
    background: rgb(255,254,203);
    background: linear-gradient(221deg, rgba(255,254,203,1) 0%, rgba(145,253,255,0.0032387955182072714) 35%, rgba(255,251,235,1) 100%);
}



.admin-nav a {
    padding: 0px 30px;
    font-size: 18px;
    color: #000;
}

.admin-nav li {
    margin: 10px 0;
}

.navbar {
    margin-top: 10px;
    background-color: #f0f4fa;
    padding: 20px;
}


.logo_user {
    padding-top: 18px;
}

.btn-link {
    font-size:120%;
}

.result table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px auto;
}
.result table th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    background-color: #fff;
}
.result table th {
    background-color: #cff4fc;
}

.admin-res table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}
.admin-res th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}
.admin-res th {
    background-color: #f2f2f2;
}

.header {
    height: 110px;
    margin-bottom: 30px;
}
nav {
    position: relative;
    z-index: 10;
}

@media (min-width: 860px) { 
    .header {
        background-color: #f0f4fa;
        box-shadow: 0px 0px 10px 0px #4D9EC1;
    }
}

.admin-menu {
   
}

.admin-menu ul {
    padding: 0;


}

.admin-menu li {
    display: inline-block;
    padding: 10px 0;
    height: 80px;
    padding-top: 25px;
}

.admin-menu li:hover {
    display: inline-block;
    background-color: #fff;
}

.admin-menu a {
    padding: 0px  30px;
    text-decoration: none;

}

.b-show {
    visibility: visible;
}

.b-hidden {
    visibility: hidden;
}

.task-list-user a {
    text-decoration: none;
}

.task-list-user li:hover {
    background-color: #f0f4fa;
}

.task-list-user {
    margin-bottom: 30px;
    z-index: 1;
}

footer {
    height: 100px;
}

.task-on {
    padding: 5px 10px;
    margin: 10px 0;
    display: inline-block;
}

.text-in-out {
    background-color: #f8f9fa;;
  resize: none; /* Заборона на зміну розміру */
  overflow: hidden; /* Приховане переповнення */
  min-height: 30px; /* Мінімальна висота */
  width: 100%; /* Ширина на весь контейнер */
  border: 1px solid #f8f9fa;; /* Рамка */
  padding: 5px; /* Відступи */
  font-size: 16px; /* Розмір шрифту */
  line-height: 1.6; /* Висота рядка */
}

.text-in-out:focus {
    outline: none;
}

.table-success, .table-danger {
    text-align: center;
    font-weight: bold;
}

.row1 {
    display: flex;
    justify-content: center;
}

.col1 {
    flex: 7;
}
.col2 {
    flex: 2;
    text-align: center;
    padding-top: 5px;
}

.col3 {
    flex: 2;
    text-align: center;
}

.nav-clas ul {

}

.nav-clas ul li{
    list-style-type: none;
    display: inline-block;
    margin-bottom: 5px;
}

.btn-light {
    background-color: #2aabee;
    color: #fff;
}

.ck {
   height: 215px;
}

.code {
    text-align: center;
    color: #5987f3;
    font-size: 1.5rem;
    letter-spacing: 2px;
    font-weight: bold;
}